.bg-custom{
    background-image: url('/public/hero-img.jpg');
}

.bg-custom-1{
    background-image: url('/public/maria-stewart-p4tj0g-_aMM-unsplash.jpg');
}

.bg-img-1{
    background-image: url('/public/anthony-espinosa-pYQSM-p_0_c-unsplash.jpg');
}

.bg-img-2{
    background-image: url('/public/samantha-gades-lf2pD--wIUA-unsplash.jpg');
}

.bg-img-3{
    background-image: url('/public/business-chart-visual-graphics-report-concept.jpg');
}

.bg-img-4{
    background-image: url('/public/tyler-nix-HmVQh_EQJhY-unsplash.jpg');
}

.bg-img-5{
    background-image: url('/public/mos-sukjaroenkraisri-jz8AmJDyhig-unsplash.jpg');
}